/x360ce.App/bin
/x360ce.App/obj
/x360ce.App/Resources/x360ce.Engine.XmlSerializers.dll
/x360ce.App/Resources/x360ce.Engine.dll
/x360ce.Data/bin
/x360ce.Data/obj
/x360ce.Engine/bin
/x360ce.Engine/obj
/x360ce.Web/bin
/x360ce.Web/obj
/*.sdf
/*.opensdf
/*.suo
/x360ce.Data/*.dbmdl
/x360ce.Data/*.user
x360ce/x360ce/bin/
x360ce/x360ce/bin64/
x360ce/x360ce/obj/
x360ce/x360ce/obj64/
x360ce/InputHook/obj/
x360ce/InputHook/obj64/
x360ce/Common/obj/
x360ce/Common/obj64/
x360ce/3rdparty/libMinHook/obj/
x360ce/3rdparty/libMinHook/obj64/
x360ce/ditool/obj/
x360ce/dinput8/obj/
x360ce/dinput8/bin/
x360ce/x360ce/svnrev.h
x360ce/dinput8/bin64/
x360ce/dinput8/obj64/
