/x360ce.App/bin
/x360ce.App/obj
/x360ce.App/Resources/x360ce.Engine.XmlSerializers.dll
/x360ce.App/Resources/x360ce.Engine.dll
/x360ce.Data/bin
/x360ce.Data/obj
/x360ce.Engine/bin
/x360ce.Engine/obj
/x360ce.Web/bin
/x360ce.Web/obj
/*.sdf
/*.opensdf
/*.suo
/x360ce.Data/*.dbmdl
/x360ce.Data/*.user
x360ce/x360ce/svnrev.h
