/*=============================================================================
 Default
-----------------------------------------------------------------------------*/

body    { font-family: 'Segoe UI', 'Verdana'; font-size: 9pt; }
td      { font-family:  'Segoe UI', 'Verdana'; font-size: 9pt; }



