<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for Global IIS settings which you should apply manually to
	C:\Windows\System32\inetsrv\config\applicationHost.config
	To apply settings immediately from Command Line as Administrator run: iisreset /noforce
-->
<configuration>
	<system.webServer>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<!-- Fix Information Disclosure vulnerability -->
				<rule name="Clear Server Header Value 1">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Clear Server Header Value 2">
					<match serverVariable="RESPONSE_SERVER" pattern=".*" />
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Clear ASP.NET Version Header Value 1">
					<match serverVariable="RESPONSE_X-AspNet-Version" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Clear ASP.NET Version Header Value 2">
					<match serverVariable="RESPONSE_X-AspNet-Version" pattern=".*" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<!-- Fix Information Disclosure vulnerability by removing 'X-Powered-By' header. -->
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
