<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="x360ce.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<applicationSettings>
		<x360ce.App.Properties.Settings>
			<setting name="EnableKeyboardControl" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="x360ce_com_x360ce_localhost_x360ce" serializeAs="String">
				<value>http://localhost.x360ce.com/webservices/x360ce.asmx</value>
			</setting>
		</x360ce.App.Properties.Settings>
	</applicationSettings>
</configuration>
